body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #f2f2f2;
}

.container {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

video {
    width: 100%;
    border-radius: 8px;
}

input, button, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background: #008cff;
    color: white;
    border: none;
    cursor: pointer;
}

textarea {
    height: 120px;
}
